/* .rangeslider-grabber-min {
    display: none; }

.rangeslider-grabber-max {
    display: none; }
    
*/

h3 {
  font-family: American Typewriter;
  color: white;
}

#variable {
  padding-top: 50%;
}

.bar_chart{
  height: 400px;
  max-height: 400px;
  padding-top: 77%;
}

.bar_chart .bar_name1 {
  height: 21%;
  align-items: center;
  display: grid;
}

.bar_chart .bar_name2 {
  height: 21%;
  align-items: center;
  display: grid;
}

.bar_chart .bar_name3 {
  height: 21%;
  align-items: center;
  display: grid;
}

.bar_chart .bar_name4 {
  height: 21%;
  align-items: center;
  display: grid;
}

/*
span {
  font-family: "sf-ui-display-medium";
  src: url("sf-ui-display-medium.otf");
}

li {
  font-family: "sf-ui-display-medium";
  src: url("sf-ui-display-medium.otf");
}
*/

